# Python
__pycache__/
*.py[cod]
*$py.class
.venv/

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specific
data/
build/
*.spec
*.pdf
*.jpg
.tempmediaStorage/
scratch/
icon.jpg
